body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
        
    max-width: 900px;
    margin: 0 auto;
    color: #dc00ff;
    font-family: times new roman;
    padding-top: 30px;
    page-break-after:left;
    font-variant: small-caps;
    font-size: large;
    font-weight: 400;
        }